@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #000000; 
    --primary-foreground: #ffffff; 
    --secondary: #000000; 
    --secondary-foreground: #ffffff; 
    --border: #d6e3f5; 
    --input: #d6e3f5; 
    --ring: #3a3e4e; 
    --radius: 0.5rem;
  }
}

@keyframes bobbing {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.loading-dot {
  display: inline-block;
  animation: bobbing 1s infinite;
  margin-right: 0.4rem; /* Add horizontal spacing */
}

.loading-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
  animation-delay: 0.4s;
  margin-right: 0; /* Remove right margin from the last dot */
}
