@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #000000; 
    --primary-foreground: #ffffff; 
    --secondary: #000000; 
    --secondary-foreground: #ffffff; 
    --border: #d6e3f5; 
    --input: #d6e3f5; 
    --ring: #3a3e4e; 
    --radius: 0.5rem;
  }
}
